    <%- include header %>
    <div class="container">
        <% if(error){ %>
        <div class="alert alert-error">
            <%= error%>
        </div>
        <% } %>
        <% if(success){ %>
        <div class="alert alert-success">
            <%= success%>
        </div>
        <% } %>
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>Blog Ground</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <% if(user){ %>
                <a class="btn btn-large btn-success" href="/post">Post Away</a>
            <%}else { %>
                <a class="btn btn-large btn-success" href="/signup">Get started today</a>
            <% } %>
        </div>

        <hr>

        <% include postList.ejs %>

        <hr>

        <% include pagination.ejs %>

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->



    <%- include footer %>